.pagecontent{
	background-color: #fcfcfc;
	
}

.information{
	display: inline-block;
	float: left;
	width: 480px;
	margin: 50px 50px 0 50px;
}

.information_text{
	font-size: 20px;
	font-weight: bold;
	line-height: 29px;
	word-spacing: -1px;
}


.information_list{
	position: relative;	
	margin-top: 50px;
}

.information_list .fa{
	font-size: 60px;
	margin-right: 20px;
	color: #0f71ba;
}

.information_list .information_list_headline{
	position: absolute;
	top: 0px;
	font-weight: bold;

	font-size: 30px;
}

.information_list .information_list_text{
	position: absolute;
	top: 36px;
}

.register{
	display: inline-block;
	float: right;
	width: 390px;
	margin: 150px 3px 3px 3px;
}

.register h1,h2{
	margin-left: 12px;
}

.register h1{
	font-size: 36px;
}

.register h2{
	font-weight: lighter;	
}

#registerForm input{
	display: block;
	margin: 10px 0 0 12px;
	height: 30px;
	width: 320px;

	font-size: 18px;
	border-radius: 5px;
    border: 1px solid #0f71ba;
    padding: 8px 10px;
}

#registerForm #registerSubmit{
	width: 100px;
	height: 48px;
	border: 0 none;
	border-radius: 5px;

	font-size: 20px;
	color: #eeeeee;

	background: #0f71ba;
    background: -webkit-linear-gradient(#3fa4f0 0%, #0f71ba 100%);
    background: -o-linear-gradient(#3fa4f0 0%, #0f71ba 100%);
    background: linear-gradient(#3fa4f0 0%, #0f71ba 100%);

	cursor: pointer;
	-webkit-transition: all 150ms ease;
	transition: all 150ms ease;
}

#registerForm #registerSubmit:active{
	-webkit-transform: translateY(-3px);
	transform: translateY(-3px);
	-webkit-animation: none;
	animation: none;
	color: #ffffff;
}

.pagecontent .pagecontent_news{
	display: inline-block;
	width: 100%;
	margin-top: 40px;

}

.pagecontent .pagecontent_news .pagecontent_news_holder{

	width: 600px;
	height: 400px;
	margin-left: auto;
	margin-right: auto;

	text-align: center;

	border-top: 1px solid black;
}

.pagecontent .pagecontent_news .pagecontent_news_holder .fa{
	display: inline;
	font-size: 100px;
}

.pagecontent .pagecontent_news .pagecontent_news_holder span{
	display: inline;
	font-size: 30px;
}
